/* RBG COLOURS FOR SITE */
/* BACKGROUND COLOUR */
/* TEXT BASIC COLOURS */
/* &:HOVER COLOURS */
/* POSSIBLE USE COLOURS */
/*Fade Transitional Colours*/
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, del, dfn, font, img, ins,
kbd, q, s, samp, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}

body {
  background: #F1F1F1;
  font-family: "Lora", serif;
  font-size: 14px;
  color: #4a4a4a;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
}

a:link, a:visited {
  transition: .3s color ease-in-out;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #4a4a4a;
  outline: 0;
}

a:hover, a:focus, a:active {
  color: #7c0a02;
}

p {
  margin: 0 0 20px 0;
}
