header .cycle-slideshow {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

header .cycle-slideshow img {
  max-width: 100%;
}

header .cycle-slideshow .slide {
  position: relative;
  display: block;
  justify-content: center;
  width: 100%;
}

header .cycle-slideshow .caption {
  position: absolute;
  z-index: 9999;
  top: 40%;
  width: 100%;
  text-align: center;
}

header .cycle-slideshow .caption h3 {
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 7px #000000;
  letter-spacing: 3.2px;
  color: ghostwhite;
}

header .cycle-slideshow .caption h5 {
  font-size: 24px;
  text-shadow: 2px 2px 7px #000000;
  letter-spacing: 2.5px;
  color: rgba(251, 211, 9, 0.95);
}

header .cycle-slideshow .cycle-pager {
  position: absolute;
  z-index: 9999;
  bottom: 20px;
  display: block;
  width: 100%;
  text-align: center;
}

header .cycle-slideshow .cycle-pager span {
  display: inline-block;
  margin: 0 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  white-space: nowrap;
}

header .cycle-slideshow .cycle-pager .cycle-pager-active {
  background: #7c0a02;
}

@media only screen and (max-width: 940px) {
  html {
    font-size: 13px;
  }
  body {
    width: 100%;
  }
  body header img {
    max-width: 100%;
  }
  body header .cycle-slideshow .caption h3 {
    font-size: 2.5rem;
  }
  body header .cycle-slideshow .caption h5 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 500px) {
  header img {
    max-width: 100%;
    height: 40vh;
  }
  header .cycle-slideshow .caption h3 {
    font-size: 14px;
  }
  header .cycle-slideshow .caption h5 {
    font-size: 10px;
  }
}
